<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}School Management System{% endblock %}</title>
</head>
<body>
    <header>
        <h1>School Management System</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/secretary/secretary_dashboard">Secretary Dashboard</a>
            <a href="/student/student_portal">Student Portal</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 School Management System</p>
    </footer>
</body>
</html>
